@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --White: hsl(0, 0%, 100%);
  --Light: hsl(212, 45%, 89%);
  --Grayish: hsl(220, 15%, 55%);
  --Dark: hsl(218, 44%, 22%);
}
body {
  background-color: var(--Grayish);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  gap: 80px;
}
.maincontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 450px;
  background-color: var(--White);
  border-radius: 10px;
  padding: 20px;
  padding-top: 50px;
}

img {
  width: 100%;
  position: relative;
  width: 100%;
  border-radius: 10px;
}
.textarea {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h3 {
  font-family: Outfit, sans-serif;
  color: var(--Dark);
  text-align: center;
  font-size: 20px;
  justify-content: center;
}
h6 {
  font-family: Outfit, sans-serif;
  font-size: 15px;
  color: var(--Light);
  text-align: center;
}

/* 
    <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
    <style>
      .attribution {
        font-size: 11px;
        text-align: center;
      }
      .attribution a {
        color: hsl(228, 45%, 44%);
      }
    </style> */
